
a {
    color: black;
    text-decoration: none;
}

h1 a {
    color: white;
}

.cardContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #0d1b2a;
    color: white;
    border-radius: 0 10px 10px 0;
    border-left: #d30c7b solid 10px;
}