.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: self-end;
    padding: 10px;
    background-color: #0d1b2a;
    color: white;
    border-radius: 10px 0 0 10px;
    border-right: #d30c7b solid 10px;
    margin-bottom: 10px;
}

.socialIconsContainer{
    position: relative;
    right: 5px;
}

.socialIconsFooter {
    margin-left: 10px;
    margin-right: 10px;

}