@font-face {
  font-family: "Comfortaa";
  src: url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap")
      format("woff2"),
    url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap")
      format("woff2"),
    url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap")
      format("woff2");
}

body {
  font-family: "Comfortaa", sans-serif;
}


.content-container {
    min-height: calc(100vh - 120px);  /*height of footer*/
  }

.footer--pin {
    position: relative;
    left: 0;
    bottom: 0;
  }